= render 'shared/header'

.post-show
  .post-show__box
    .post-show__box__top-title
      %p The best moment
    .post-show__box__contents
    
      .post-show__box__contents__title-box
        .post-show__box__contents__title-box__top
        .post-show__box__contents__title-box__bottom

      .post-show__box__contents__image-box
        .post-show__box__contents__image-box__top
        .post-show__box__contents__image-box__bottom

      .post-show__box__contents__description-box
        .post-show__box__contents__description-box__top
        .post-show__box__contents__description-box__bottom