* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

.index {

  // color_sample
  // #e1f2fb
  // #f1f9f9
  // #f3dfe3
  // #e9b2bc

  &__box {
    height: 100%;
    width: 100%;

    &__header {
      height: 100px;
      width: 100%;
      background-color: #e9b2bc;
      display: flex;

      &__icon {
        height: 100px;
        width: 100px;
        background-image: url(/icons/Neco-Pic.png);
        background-size: cover;
      }

      &__menu-list {

        ul {
          display: flex;
          
          li {
            height: 100px;
            width: 170px;
            margin: 0 5px;
            display: flex;
            align-items: center;

            a {
              display: inline-block;
              color: #fff;
              text-decoration: none;
              padding: 16px 32px;
              margin: 16px;
              border-radius: 50px;
              background: #666;

              p {
                margin: 0 auto;
                font-size: 17px;
                color: #fff;
                font-family: 'Ubuntu Mono', monospace;
              }
            }
          }
        }
      }
    }

    &__main {
      background-color: #f3dfe3;
      height: 1000px;
      width: 100%;
      padding: 20px;

      &__box {
        height: 100%;
        width: 100%;

        &__main-title {
          font-family: 'Ubuntu Mono', monospace;
          font-size: 20px;
          text-align: center;
          padding-bottom: 20px;
        }

        &__contents {

          &__content {

            .contents {
              width: 100%;
              display: flex;
              flex-wrap: wrap;

              .content {
                height: 260px;
                width: 18.5%;
                background-color: #f1f9f9;
                border-radius: 50%;
                margin: 0 10px 20px;
                position: relative;

                img {
                  position: absolute;
                  border-radius: 50%;
                }

                p {
                  position: absolute;
                  display: inline-block;
                  color: #fff;
                  text-decoration: none;
                  padding: 8px 32px;
                  margin: 16px;
                  border-radius: 50px;
                  background: #666;
                }
              }
            }
          }
        }
      }
    }
  }
}