* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

  // color_sample
  // #fcf8e8
  // #ecdfc8
  // #ecb390
  // #df7861



.index {

  &__box {
    height: 100%;
    width: 100%;

    &__header {
      height: 85px;
      width: 100%;
      background-color: #ecdfc8;
      display: flex;
      box-shadow:0px 0px 10px;
      border:1px solid #888;

      &__icon {
        height: 83px;
        width: 100px;
        background-image: url(/icons/Neco-Pic.png);
        background-size: cover;
        box-shadow:0px 0px 5px;
        border:0.3px solid #888;
        text-decoration: none;
      }

      &__menu-list {

        ul {
          display: flex;
          
          li {
            height: 85px;
            width: 200px;
            margin: 0 5px;
            display: flex;
            align-items: center;

            a {
              display: inline-block;
              border-color: #888;
              text-decoration: none;
              padding: 5px 32px;
              margin: 16px;
              border-radius: 50px;
              background: #c9753d;
              margin: 0 auto;
              font-size: 17px;
              font-family: 'Ubuntu Mono', monospace;
              border: solid 0px #cfb495;

              p {
                margin: 0 auto;
                font-size: 17px;
                color: #fff;
                font-family: 'Ubuntu Mono', monospace;
              }
            }
          }
        }
      }
    }

    &__main {
      // background-color: #fcf8e8;
      height: 100%;
      width: 100%;
      padding: 20px;

      &__box {
        height: 100%;
        width: 100%;
        overflow: hidden;

        &__main-title {
          font-family: 'Ubuntu Mono', monospace;
          font-size: 20px;
          text-align: center;
          padding-bottom: 20px;
        }

        &__contents {
          padding: 90px 0;
          overflow: scroll;

          &__content {

            .contents {
              width: 100%;
              display: flex;
              flex-wrap: wrap;

              .content {
                height: 260px;
                width: 18.5%;
                background-color: #cfb495;
                border-radius: 50%;
                margin: 0 10px 50px;
                position: relative;
                overflow: hidden;
                box-shadow:0px 0px 10px;
                border:1px solid #888;

                img {
                  position: absolute;
                  border-radius: 50%;
                  left: 6px;
                  top: 6px;
                }

                span {
                  height: 260px;
                  width: 100%;
                  position: absolute;
                  border-radius: 50%;
                  // background-color: slategray;
                  box-shadow: inset 0 0 50px rgba(50, 30, 0, 0.6),
                              inset 0 0 100px rgba(50, 30, 0, 0.3);
                  background: 255, 155, 0, 0.2;
                  z-index: 1;
                  opacity: 0;
                }

                p {
                  position: absolute;
                  display: inline-block;
                  color: #fff;
                  text-decoration: none;
                  padding: 8px 32px;
                  margin: 16px;
                  border-radius: 50px;
                  background: #666;
                  font-family: 'Ubuntu Mono', monospace;
                  left: -100%;
                  opacity: 0;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
    }

    &__footer {
      height: 150px;
      width: 100%;
      background-color: #ecdfc8;
      position: absolute;
      // position: fixed;
      box-shadow:0px 0px 10px;
      border:1px solid #888;

      &__smooth-scroll {
        height: 50px;
        width: 100%;
        background-color: #e1f2fb;
        display: flex;
        align-items: center;
        box-shadow:0px 0px 10px;
        border:1px solid #888;

        .smooth-icon {
          margin: 0 auto;
        }
      }

      &__links {
        height: 100px;
        widows: 100%;
        display: flex;
        align-items: center;

        &__box {
          height: 40px;
          width: 80%;
          margin: 0 auto;
          display: flex;

          &__footer-icons {
            // padding: 0 20px;

            .footer-icon {
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}