@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

.user-show__box {
  padding: 60px 250px;

  &__contents {
    padding: 20px;

    &__content {
      // width: 100%;
      // height: 300px;
      // background-color: #fff;
      // border: solid 1px #888;
      // padding: 5px;
      // display: flex;
      // justify-content: space-between;

      .contents {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 300px;
          background-color: #fff;
          border: solid 1px #888;
          padding: 5px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          position: relative;
          overflow: hidden;
        }
      }

      &__image {
        width: 45%;
        height: 100%;
        background-color: antiquewhite;
      }

      &__downer-btn {
        position: absolute;
        top: 0px;
        padding: 10px;
        opacity: 1;
      }

      &__btns {
        position: absolute;
        top: -100px;
        padding: 10px;
        background-color: darkgray;
        font-family: 'Ubuntu Mono', monospace;
        width: 60px;
        height: 100px;
        text-align: center;
        border-bottom-right-radius: 20px;
        // opacity: 0;

        a {
          text-decoration: none;
          color: #fff;
        }


        &__edit {
          padding: 10px 0 20px 0;
          color: #fff;
        }

        &__destroy {
          color: #fff;
        }
      }

      &__title-text {
        width: 50%;
        height: 100%;

        &__title {
          width: 100%;
          height: 15%;
          border: solid 1px #888;
          margin-bottom: 5px;
          padding: 5px;
          display: flex;
          align-items: center;
          overflow-x: scroll;
          font-family: 'Ubuntu Mono', monospace;
        }

        &__text {
          width: 100%;
          height: 239px;
          border: solid 1px #888;
          padding: 5px;
          overflow: scroll;
          font-family: 'Ubuntu Mono', monospace;
        }
      }
    }
  }
}